#transactionsPage{
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

    #transactionsOptions{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 25%;
        background: black;
        color: white;
    }

        #transactionsOptions > *{
            margin: 15px;
        }

        #categoriesLabel{
            border: 1px solid white;
            max-height: 250px;
            overflow-y: auto;
        }

            .categoryChoice{
                display: flex;
                font-size: 12px;
            }

            .categoryChoice > *{
                margin: 5px;
            }

    #transactionsDisplay{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
    }