#transactionsPage{
    display: flex;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
}

    #transactionsSpacer{
        width: 25%;
    }

    #transactionsOptions{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 25%;
        background: black;
        color: white;
        position: fixed;
    }

        #transactionsOptions > *{
            margin: 15px;
        }

        #categoriesLabel{
            border: 1px solid white;
            max-height: 250px;
            overflow-y: auto;
        }

            .categoryChoice{
                display: flex;
                font-size: 12px;
            }

            .categoryChoice > *{
                margin: 5px;
            }

    #transactionsDisplay{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 37%;
        max-height: 95vh;
        overflow-y: auto;
    }

    #anal{
        width: 37%;
        max-height: 95%;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #anal > *{
        max-height: 45%;
    }