<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Budgeteer</title>
        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <%- include("./ejs/banner.ejs") %>

        <%- include("./ejs/home.ejs") %>

        <div id="modalContainer" style="display:none;">
            <%- include("./ejs/modals/enter.ejs") %>
        </div>

        <script src="./bundle.js"></script>
    </body>
</html>