*{margin:0;padding:0;font-family:'Cutive Mono',monospace;}

body, html{
    height: 100vh;
    width: 100vw;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    form h2{
        margin: auto;
    }

    form label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5px;
    }

    .formButton{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }

        .formButton > *{
            height: 35px;
            margin: 5px;
            color: white;
            border: none;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        .formButton input[type=submit]{
            background: rgb(0, 150, 0);
        }

            .formButton input[type=submit]:hover{
                background: rgb(0, 225, 0);
                transform: translateY(2px);
            }

        .formButton button{
            background: rgb(200, 0, 0);
        }

            .formButton button:hover{
                background: rgb(235, 0, 0);
                transform: translateY(2px);
            }

#banner{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 15px;
    left: 25%;
    width: 50%;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    z-index: 10;
}

    .errorBanner{
        background: red;
    }

    .successBanner{
        background: green;
    }

#modalContainer{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}

    #modalContainer > div{
        background: white;
        padding: 50px;
    }

    .modal{
        flex-direction: column;
    }

.lineyBoi{
    border: 2px solid black;
    width: 100%;
    margin: 10px 0;
}

.closeModal{
    color: rgb(200, 0, 0);
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

    .closeModal:hover{
        transform: translateY(1px);
        color:rgb(235, 0, 0);
    }

    .button{
        border: none;
        height: 35px;
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

        .red{
            background: rgb(200, 0, 0);
            color: white;
        }

        .button.red:hover{
            transform: translateY(1px);
            background: rgb(235, 0, 0);
        }

        .green{
            background: rgb(0, 150, 0);
            color: white;
        }

        .button.green:hover{
            transform: translateY(1px);
            background: rgb(0, 225, 0);
        }

/* Tables */
.addButton{
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(0, 150, 0);
    border-radius: 100%;
    margin-left: auto;
}

    .addButton:hover{
        color: rgb(0, 225, 0);
        transform: translateY(1px);
    }


.infoPopup{
    position: relative;
}

    .infoButton{
        background: none;
        border: none;
        cursor: pointer;
    }

        .infoButton:hover{
            color: rgb(150, 150, 150);
        }

    .infoText{
        background: white;
        position: absolute;
        left: 10px;
        width: 300px;
        box-shadow: 0 0 5px black;
        padding: 5px;
        font-size: 14px;
        text-align: justify;
        z-index: 2;
    }

table{
    margin: 0 0 50px 0;
}

.tableHead{
    display: flex;
}

th{
    border-bottom: 1px solid black;
}

td{
    padding: 3px 10px;
    text-align: center;
}

tbody tr:nth-child(even){
    background: lightgray;
}

.statusButton{
    background: green;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.statusText{
    color: green;
}

/*
HOME PAGE
*/
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

    #statsBalance{
        cursor: pointer;
    }

    #dropdown{
        position: fixed;
        top: 0;
        left: 0;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #dropdownButton{
            background: white;
            color:black;
            border: none;
            cursor: pointer;
            padding: 10px;
        }

            #dropdownButton:hover{
                background: rgb(240, 240, 240);
            }

        #dropdownContent{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            z-index: 1;
            top: 75px;
            left: 10px;
            background: black;
            width: 200px;
            padding: 15px;
        }

            #dropdownContent > *{
                color: white;
                text-decoration: none;
                background: none;
                cursor: pointer;
                border: none;
                font-size: 20px;
                margin: 5px 0;
                padding-left: 5px;
            }

                #dropdownContent > *:hover{
                    color: rgb(150, 150, 150);
                }

    #mainContent{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .statsItem{
        display: flex;
        margin: 5px;
    }

        #remaining{
            margin-left: 20px;
            margin-bottom: 20px;
        }

    .balance{
        display: flex;
        font-size: 25px;
        font-weight: bold;
    }

.actionable{
    cursor: pointer;
}

    .actionable:hover{
        box-shadow: 0 0 5px black;
    }

/*
ENTER MODAL
*/
#enterModal{
    align-items: center;
}

    #enterModal > *{
        margin: 25px;
    }

/*
TRANSACTION MODAL
*/
#transactionModal{
    position: relative;
    max-width: 50%;
    font-weight: bold;
}

    #transactionNoEdit{
        flex-direction: column;
    }

    #transactionModal h2{
        margin-bottom: 25px;
    }

    #transactionModal label{
        display: flex;
        margin-bottom: 15px;
        justify-content: space-between;
        max-width: 300px;
    }

    #transactionModal p{
        font-weight: normal;
    }

    #transactionModal .bold{
        font-weight: bold;
    }

/*
SWITCH ACCOUNT MODAL
*/
#switchAccountButtons{
    display: flex;
    flex-direction: column;
    width: 300px;
}

    #switchAccountModal h2{
        width: 100%;
        text-align: center;
    }

/*
HELP MODAL
*/
#helpModal{
    position: relative;
    max-height: 75%;
    overflow-y: auto;
    padding: 25px;
}

    #helpModal h2{
        text-align: center;
        margin-bottom: 25px;
    }

    #helpModal ul{
        margin: 0 0 25px 35px;
    }

    #helpModal p{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

/*
TRANSFER MODAL
*/
#transferModal h2{
    margin-bottom: 25px;
}

/*
LOADER
*/
#loaderContainer{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 27, 45, 0.5);
    z-index: 100;
    position: fixed;
}

.loader{
    margin-bottom: 200px;
    margin-right: 100px;
}

.loader .outer{
    border: 10px solid rgba(255, 255, 255, 0);
    border-top: 10px solid rgba(133, 187, 101, 0.8);
    border-right: 10px solid rgba(133, 187, 101, 0.8);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    animation: spin1 1s linear infinite;
    position: absolute;
}

.loader .mid{
    border: 10px solid rgba(255, 255, 255, 0);
    border-right: 10px solid rgba(0, 0, 0, 0.8);
    border-bottom: 10px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 10px 0 0 10px;
    animation: spin2 1s linear infinite;
    position: absolute;
}

.loader .inner{
    border: 10px solid rgba(255, 255, 255, 0);
    border-bottom: 10px solid rgba(255, 0, 0, 0.8);
    border-left: 10px solid rgba(255, 0, 0, 0.8);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 20px 0 0 20px;
    animation: spin3 1s linear infinite;
    position: absolute;
}

@keyframes spin1{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin2{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

@keyframes spin3{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}