<div id="home">
    <h1 id="accountTitle"></h1>
    <div id="dropdown">
        <button id="dropdownButton">
            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>
        <div id="dropdownContent" style="display:none;">
            <a href="/logout">Logout</a>

            <button id="addAccountButton">Add account</button>

            <button id="switchAccountButton">Switch account</button>

            <button id="transferMoney">Transfer money</button>

            <button id="helpButton">Help</button>
        </div>
    </div>

    <div id="mainContent">
        <div id="tables">
            <div class="tableHead">
                <h2>Income</h2>
                <div class="infoPopup">
                    <button id="incomeInfoButton" class="infoButton">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                    </button>
                    
                    <p id="incomeInfoText" class="infoText" style="display:none;">Each income source is considered once a month. This will not affect the actual money in your account, it will only affect projections</p>
                </div>
                <button id="createIncomeBtn" class="addButton">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                </button>
            </div>
            <table id="incomeTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="incomeBody"></tbody>
            </table>

            <div class="tableHead">
                <h2>Bills</h2>
                <div class="infoPopup">
                    <button id="billsInfoButton" class="infoButton">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                    </button>
  
                    <p id="billsInfoText" class="infoText" style="display:none;">Each bill is considered to be once a month.  This will not affect the actual money in your account, it will only affect projections</p>
                </div>
                <button id="createBillBtn" class="addButton">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                </button>
            </div>
            <table id="billsTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="billsBody"></tbody>
            </table>

            <div class="tableHead">
            <h2>Allowances</h2>
                <div class="infoPopup">
                    <button id="allowancesInfoButton" class="infoButton">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                    </button>

                    <p id="allowancesInfoText" class="infoText" style="display:none;">An allowance is a bit of money set aside from your budget each month to spend on a specific item.  For example: groceries or clothes.</p>
                </div>
                <button id="createAllowanceBtn" class="addButton">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                </button>
            </div>
            <table id="allowancesTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Spent</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="allowancesBody"></tbody>
            </table>

            <template id="categoryRow">
                <tr>
                   <td class="categoryRowName"></td>
                   <td class="categoryRowAmount"></td>
                   <td class="categoryRowSpent" style="display:none"></td>
                   <td class="categoryRowActions">
                       <button class="categoryRowPay catButton">Pay</button>
                       <button class="categoryRowEdit catButton">Edit</button>
                       <button class="categoryRowRemove catButton">Remove</button>
                   </td>
                </tr>
            </template>
        </div>

        <div id="transactions">
            <div class="tableHead">
                <h2>Transactions</h2>
                
                <button id="createTransactionBtn" class="addButton">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                </button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="transactionsBody"></tbody>
            </table>
        </div>

        <div id="stats">
            <label class="balance">BALANCE:
                <p id="statsBalance"></p>
                <input id="balanceInput" type="number" step="0.01" style="display:none;">
            </label>

            <h3 id="statsMonth"></h3>

            <div class="statsItem">
                <div class="infoPopup">
                    <button id="discretionaryInfoButton" class="infoButton">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                    </button>
  
                    <p id="discretionaryInfoText" class="infoText" style="display:none;">Discretionary is your total money after all bills and allowances.  Simply: income - bills - allowances</p>
                </div>
                <p>Discretionary:</p>
                <p id="statsDiscretionary"></p>
            </div>

            <div class="statsItem">
                <div class="infoPopup">
                    <button id="remainingDiscretionaryInfoButton" class="infoButton">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                    </button>
  
                    <p id="remainingDiscretionaryInfoText" class="infoText" style="display:none;">Remaining discretionary is your discretionary minus money that you have spent on discretionary.</p>
                </div>
                <p id="remaining">Remaining:</p>
                <p id="statsRemainingDiscretionary"></p>
            </div>

            <div class="statsItem">
                <div class="infoPopup">
                    <button id="statsIncomeInfoButton" class="infoButton">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                    </button>
  
                    <p id="statsIncomeInfoText" class="infoText" style="display:none;">The total of all of your income.</p>
                </div>
                <p>Income:</p>
                <p id="statsIncome"></p>
            </div>

            <div class="statsItem">
                <div class="infoPopup">
                    <button id="statsBillsInfoButton" class="infoButton">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                    </button>
  
                    <p id="statsBillsInfoText" class="infoText" style="display:none;">The total of all of your bills.</p>
                </div>
                <p>Bills:</p>
                <p id="statsBills"></p>
            </div>

            <div class="statsItem">
                <div class="infoPopup">
                    <button id="statsAllowancesInfoButton" class="infoButton">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                    </button>
  
                    <p id="statsAllowancesInfoText" class="infoText" style="display:none;">The total of all of your allowances.</p>
                </div>
                <p>Allowances:</p>
                <p id="statsAllowances"></p>
            </div>
        </div>
    </div>
</div>