<div id="home">
    <h1 id="accountTitle"></h1>
    <a href="/logout">Logout</a>

    <div id="mainContent">
        <h2>Income</h2>
        <table id="incomeTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody id="incomeBody"></tbody>
        </table>
    </div>
</div>