*{margin:0;padding:0;font-family:'Cutive Mono',monospace;}

body, html{
    height: 100vh;
    width: 100vw;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    form h2{
        margin: auto;
    }

    form label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5px;
    }

    .formButton{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }

        .formButton > *{
            height: 35px;
            margin: 5px;
            color: white;
            border: none;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        .formButton input[type=submit]{
            background: rgb(0, 150, 0);
        }

            .formButton input[type=submit]:hover{
                background: rgb(0, 225, 0);
                transform: translateY(2px);
            }

        .formButton button{
            background: rgb(200, 0, 0);
        }

            .formButton button:hover{
                background: rgb(235, 0, 0);
                transform: translateY(2px);
            }

#modalContainer{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}

    #modalContainer > div{
        background: white;
        padding: 50px;
    }

    .modal{
        flex-direction: column;
    }

.lineyBoi{
    border: 2px solid black;
    width: 100%;
    margin: 10px 0;
}

.closeModal{
    color: rgb(200, 0, 0);
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

    .closeModal:hover{
        transform: translateY(1px);
        color:rgb(235, 0, 0);
    }

    .button{
        border: none;
        height: 35px;
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

        .red{
            background: rgb(200, 0, 0);
            color: white;
        }

        .button.red:hover{
            transform: translateY(1px);
            background: rgb(235, 0, 0);
        }

        .green{
            background: rgb(0, 150, 0);
            color: white;
        }

        .button.green:hover{
            transform: translateY(1px);
            background: rgb(0, 225, 0);
        }

/* Tables */
.addButton{
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(0, 150, 0);
    border-radius: 100%;
    margin-left: auto;
}

    .addButton:hover{
        color: rgb(0, 225, 0);
        transform: translateY(1px);
    }

.tableHead{
    display: flex;
}

th{
    border-bottom: 1px solid black;
}

td{
    padding: 3px 10px;
    text-align: center;
    height: 100%;
}

tbody tr:nth-child(even){
    background: lightgray;
}

.actionable{
    cursor: pointer;
}

    .actionable:hover{
        box-shadow: 0 0 5px black;
    }

.icon{
    color: inherit;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    body{
        padding: 5px;
        box-sizing: border-box;
    }
    
    #mainContent{
        flex-direction: column-reverse;
        align-items: center;
    }

    .mobileDivider{
        width: 100%;
        border: 2px solid black;
        margin: 25px;
    }

    td{
        font-size: 10px;
        padding: 0;
    }

    #transactions{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 75%;
    }

    #incomeTable, #billsTable, #allowancesTable{
        width: 100%;
    }

    #transactions{
        overflow-y: auto;
        max-height: 500px;
    }

    #transactions .tableHead{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #dropdownButton{
        position: fixed;
        top: 0;
        right: 0;
        margin: 1px;
        background: none;
        padding: 0;
    }

    #dropdownButton svg{
        height: 35px;
        width: 35px;
    }

    #dropdownContent{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    #dropdownContent > *{
        margin: 15px;
        font-size: 25px;
    }

    .modal{
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 12;
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
    }
    
    #restoreCategoryModal{
        max-height: unset;
    }
}