<div id="transactionsPage" class="page" style="display:none">
    <div id="transactionsSpacer"></div>
    <div id="transactionsOptions">
        <svg id="filterBackButton" class="icon" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>

        <h1>Filter</h1>

        <label>Date:
            <input id="filterDateFrom" type="date">
            -
            <input id="filterDateTo" type="date">
        </label>

        <div id="categoriesLabel">Categories</div>

        <label>Tags (comma seperated)
            <input id="filterTagsInput" type="text">
        </label>

        <label>Location
            <input id="filterLocationInput" type="text">
        </label>

        <template id="categoryChoice">
            <div class="categoryChoice">
                <input class="ccCheckbox" type="checkbox">
                <p class="ccName"></p>
            </div>
        </template>
    </div>

    <div id="transactionsDisplay">
        <h1>Transactions</h1>

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody id="searchTransactionsBody"></tbody>
        </table>

        <template id="tableTransaction">
            <tr class="tableTransaction actionable">
                <td class="ttDate"></td>
                <td class="ttCategory"></td>
                <td class="ttLocation"></td>
                <td class="ttAmount"></td>
            </tr>
        </template>
    </div>

    <div id="anal">
        <div id="categoriesGraph"></div>

        <div id="tagsGraph"></div>
    </div>
</div>