<div id="createAllowanceModal" class="modal" style="display:none;">
    <form id="createAllowanceForm">
        <h2>Create Allowance</h2>

        <label>Name:
            <input id="createAllowanceName" type="text" required>
        </label>

        <div class="lineyBoi"></div>

        <label>Amount:
            <input id="createAllowanceAmount" type="number" step="0.01">
        </label>

        <h3>OR</h3>

        <label>Percent of Income:
            <input id="createAllowancePercent" type="number" step="1">
        </label>

        <input type="submit" value="Submit">
    </form>
</div>