<div id="createBillModal" class="modal" style="display:none;">
    <form id="createBillForm">
        <h2>Create Bill</h2>

        <label>Name:
            <input id="createBillName" type="text" required>
        </label>

        <label>Amount:
            <input id="createBillAmount" type="number" step="0.01" required>
        </label>

        <div class="formButton">
            <input type="submit" value="submit">

            <button id="createBillCancel" type="button">Cancel</button>
        </div>
    </form>
</div>