<div id="createTransactionModal" class="modal" style="display:none;">
    <form id="createTransactionForm">
        <h2>New Transaction</h2>

        <label>Category:
            <select id="createTransactionSelect"></select>
        </label>

        <label>Amount:
            <input id="createTransactionAmount" type="number" step="0.01" required>
        </label>

        <label>Location:
            <input id="createTransactionLocation" type="text">
        </label>

        <label>Date:
            <input id="createTransactionDate" type="date" required>
        </label>

        <label>Note:
            <textarea id="createTransactionNote"></textarea>
        </label>

        <input type="submit" value="Submit">
    </form>
</div>