<div id="createIncomeModal" class="modal" style="display:none;">
    <form id="createIncomeForm">
        <h2>Create Income</h2>

        <label>Name:
            <input id="createIncomeName" type="text" required>
        </label>

        <label>Amount:
            <input id="createIncomeAmount" type="number" step="0.01" required>
        </label>

        <input type="submit" value="Submit">
    </form>
</div>