<div id="enterModal" class="modal" sytle="display:none">
    <form id="registerForm">
        <h2>Register</h2>

        <label>Email:
            <input id="registerEmail" type="email" required>
        </label>

        <label>Password:
            <input id="registerPass" type="password" required>
        </label>

        <label>Confirm Password:
            <input id="registerConfirm" type="password" required>
        </label>

        <input type="submit" value="Submit">
    </form>

    <h1>OR</h1>

    <form id="loginForm">
        <h2>Login</h2>

        <label>Email:
            <input id="loginEmail" type="email" required>
        </label>

        <label>Password:
            <input id="loginPass" type="password" required>
        </label>

        <input type="submit" value="Submit">
    </form>
</div>