<div id="helpModal" class="modal" style="display:none;">
    <svg id="helpClose" class="closeModal" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="15" y1="9" x2="9" y2="15"></line>
        <line x1="9" y1="9" x2="15" y2="15"></line>
    </svg>

    <h2>Help</h2>

    <h3>Accounts</h3>
    <ul>
        <li>Each account is a representation of a specific bank account that you have</li>
        <li>i.e. checking account, savings account</li>
        <li>You may create as many accounts as you like</li>
        <li>To create a new account, open the menu and then choose "Add account"</li>
        <li>To view and interact with a different account, open the menu and then choose "Switch account"</li>
    </ul>

    <h3>Transactions</h3>
    <ul>
        <li>A transaction is a record of any time that you spend money</li>
        <li>Any time that you make a purchase you should record it as a transaction</li>
        <li>The tag field is an option for you to give labels to transactions. Add a label and it makes it easier to group and search your transactions later</li>
        <li>Place a space between each tag you want to add to the transaction</li>
        <li>Adding a transaction will automatically update the necessary fields, such as discretionary or balance</li>
        <li>The only required fields for a transaction are date, category and amount</li>
        <li>Location is where you spent your money. It is optional</li>
        <li>A note is any information that you want to add to the transction.  It is optional</li>
    </ul>

    <h3>Income</h3>
    <ul>
        <li>An income source is any money that you recieve</li>
        <li>Each income is once a month</li>
        <li>Income does not affect your balance. It only affects your budget, such as discretionary</li>
        <li>If you need to update an income source then delete it and add it again</li>
    </ul>

    <h3>Bills</h3>
    <ul>
        <li>A bill is any money that you pay regularly</li>
        <li>Each bill is once a month</li>
        <li>Bills do not affect your balance.  They only affect your budget, such as discretionary</li>
        <li>If you need to update a bill then delete it and add it again</li>
    </ul>

    <h3>Allowances</h3>
    <ul>
        <li>An allowance is money that you set aside for a specific thing</li>
        <li>i.e. Groceries, clothes, entertainment</li>
        <li>Each allowance is once a month</li>
        <li>Allowances do not affect your balance. They only affect your budget, such as discretionary</li>
        <li>An allowance can be defined either by a set dollar amount, or as a percent of your income</li>
        <li>If you need to update an allowance then delete it and add it again</li>
    </ul>

    <h3>Balance</h3>
    <ul>
        <li>This is the amount of money that you have in your account</li>
        <li>Balance is affected only by your transactions</li>
        <li>Your balance is updated automatically when you create new transactions</li>
        <li>Clicking on any transaction will display the details of the account</li>
        <li>Deleting a transaction will automatically update everything (such as balance) as if the transaction had never been added</li>
    </ul>

    <h3>Discretionary</h3>
    <ul>
        <li>Discretionary is the amount of money you have left over in the month after bills and allowances</li>
        <li>Discretionary = income - bills - allowances</li>
        <li>This is meant to be how much money you have to spend in general, on whatever you want</li>
    </ul>

    <h3>Remaining Discretionary</h3>
    <ul>
        <li>Remaining discretionary is your original discretionary for the month minus the sum of all of your transactions that have a discretionary category</li>
        <li>Remaining discretionary is automatically updated when you create a transaction with discretionary for the category</li>
    </ul>

    <p>Problem, advice, complaint?  <a href="mailto:me@leemorgan.io">me@leemorgan.io</a></p>
</div>