<div id="newAccountModal" class="modal" style="display:none;">
    <form id="newAccountForm">
        <h2>NEW ACCOUNT</h2>

        <label>Name:
            <input id="newAccountName" type="text" required>
        </label>

        <input type="submit" value="Submit">
    </form>
</div>