<div id="newAccountModal" class="modal" style="display:none;">
    <form id="newAccountForm">
        <h2>ADD A BANK ACCOUNT</h2>

        <label>Name:
            <input id="newAccountName" type="text" required>
        </label>

        <div class="formButton">
            <input type="submit" value="Submit">

            <button id="newAccountCancel" type="button">Cancel</button>
        </div>
        
    </form>
</div>