<div id="restoreCategoryModal" class="modal" style="display:none">
    <h2 id="restoreTitle"></h2>

    <div id="restoreContainer"></div>
    
    <template id="restoreCategory">
        <div class="restoreCategory actionable">
            <p class="restoreName"></p>
            <p class="restoreAmount"></p>
        </tr>
    </template>

    <h1>--- Or ---</h1>

    <div class="formButton">
        <button class="button">Create New</button>
    </div>
</div>